@media screen and (max-width: 576px)  {
  .header {
    width: 100%;
        .menu {
        display: none;

        .header img {
           width: auto; 
        }

        }    
    }

    .img {
        img {
            width: 10rem;
            grid-area: img;
          }
    }
}