.card {
    margin: 10px;
  }
  
  .btn-primary {
    background-color: #be9bff;
    border: none;
  
    &:hover {
      background-color: #6a36cb;
      border: none;
      color: #fff;
    }
  }
  
  .titulo h1 {
    margin: 100px;
    font-family: 'Rethink Sans', sans-serif;
    font-size: 30px;
  }
  