.card-group {
    margin: 50px;
  }
  
  .titulopremades {
    h1 {
      margin-left: 100px;
      margin-top: 50px;
      color: #fff;
      font-size: 50px;
      font-family: 'Rethink Sans', sans-serif;
    }
  
    h2 {
      margin-left: 100px;
      color: #fff;
      font-size: 20px;
      font-family: 'Rethink Sans', sans-serif;
    }
  
    h3 {
      margin: 0 auto;
      text-align: center;
      color: #fff;
      font-size: 20px;
      font-family: 'Rethink Sans', sans-serif;
    }
  }
  